@inherits LayoutComponentBase

<MudThemeProvider Theme="@_theme" IsDarkMode="_isDarkMode" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="1">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <MudText Typo="Typo.h5" Class="ml-3">Good deeds</MudText>
        <MudSpacer />

        <AuthorizeView>
	        <Authorized>
                <MudButton StartIcon="@Icons.Material.Filled.Logout" Href="logout">Logout</MudButton>
	        </Authorized>
	        <NotAuthorized>
		        <MudButton StartIcon="@Icons.Material.Filled.Login" Href="login">Login</MudButton>
	        </NotAuthorized>
        </AuthorizeView>

        <MudIconButton Icon="@(DarkLightModeButtonIcon)" Color="Color.Inherit" OnClick="@DarkModeToggle" />
        <MudIconButton Icon="@Icons.Material.Filled.MoreVert" Color="Color.Inherit" Edge="Edge.End" OnClick="@OpenSettingsToggle" />

    </MudAppBar>
    <MudDrawer id="nav-drawer" @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2">
	    <NavMenu />
    </MudDrawer>

    <MudDrawer @bind-Open="@_settingsOpen" Anchor="Anchor.Right" Elevation="2" ClipMode="DrawerClipMode.Always">
	    <MudDrawerHeader>
		    <MudText Typo="Typo.h6">Settings</MudText>
	    </MudDrawerHeader>
	    <SettingsMenu></SettingsMenu>
    </MudDrawer>

    <MudMainContent Class="pt-16 pa-4">
	    @Body
    </MudMainContent>
</MudLayout>


<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>